<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Console name="Console2" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
    </Console>
    <File name="LogFile" fileName="OSCake.log" append="false">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %msg%n"/>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="org.ossreviewtoolkit.reporter.reporters.osCakeReporterModel.utils.OSCakeLoggerManager" level="info" additivity="false">
      <AppenderRef ref="Console2"/>
      <AppenderRef ref="LogFile"/>
    </Logger>
    <Root level="warn">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="org.apache.http.headers" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.apache.http.wire" level="error">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.eclipse.jgit.internal.storage.file.FileSnapshot" level="error">
      <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="org.ossreviewtoolkit.scanner.scanners.fossid.FossId" level="info"/>
    <Logger name="org.ossreviewtoolkit.scanner.scanners.fossid.FossIdConfig" level="info"/>
  </Loggers>
</Configuration>
